.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
  
    @media only screen and (max-width: 480px) {
      padding: 0.5em;
    }
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 1em;
  
    @media only screen and (max-width: 480px) {
      font-size: 1.5em;
    }
  }
  
  .item {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
  
    @media only screen and (max-width: 480px) {
      padding: 0.5em;
    }
  
    .subtitle {
      font-size: 1.5em;
      margin-bottom: 0.5em;
  
      @media only screen and (max-width: 480px) {
        font-size: 1.2em;
      }
    }
  
    .actions {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em;
  
      @media only screen and (max-width: 480px) {
        padding: 0.5em;
      }
  
      .button {
        margin-right: 0.5em;
        border: none;
        border-radius: 5px;
        padding: 0.5em 1em;
        cursor: pointer;
        background-color: rgba(0, 136, 148, 1);
        color: #fff;
  
        @media only screen and (max-width: 480px) {
          padding: 0.25em 0.5em;
          font-size: 0.9em;
        }
      }
    }
  }
  