.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 7%;
}
.card .card-img {
  width: 25%;
  margin-top: -20%;
  float: left;
}
@media screen and (max-width: 767px) {
  .card .card-img {
    margin-top: -30%;
  }
}
.card .card-body {
  padding: 15px;
  width: 800px;
  top: 177px;
  background-color: #ccc;
  border-radius: 15px;
  margin: 10px 40px;
  box-shadow: 0 8px 32px 0 rgba(8, 7, 8, 0.37);
}
.card .card-body .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30%;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 767px) {
  .card .card-body .card-title {
    font-size: 12px;
  }
}
.card .card-body .card-text {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.browser-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.browser-box .form1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.browser-box .form1 .input1 {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  width: 200px;
}
.browser-box .form1 .input1 .imgLupa {
  position: absolute;
  width: 27.95px;
  height: 29.01px;
  left: 294.4px;
  top: 112.41px;
  transform: rotate(90.81deg);
}
.browser-box .form1 .input1:focus {
  outline: none;
  border: 1px solid #008894;
}
.browser-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.browser-box ul li {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.browser-box p {
  font-size: 16px;
  font-style: italic;
}

header {
  background-color: white;
  position: sticky;
  z-index: 9;
  width: 100%;
  top: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  header .container {
    padding: 0px 15px;
  }
}
header .container .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
header .container .navbar .nav-links li .option {
  color: black;
  font-family: "arial";
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 767px) {
  header .container .navbar .nav-links li .option {
    color: black;
    margin-bottom: 15px;
    display: block;
  }
}
header .container .navbar .logo {
  width: 130px;
}
@media screen and (max-width: 767px) {
  header .container .navbar .logo {
    width: 90px;
  }
}
header .container .navbar .logo img {
  width: 100%;
}
header .container .navbar .menu {
  display: flex;
  gap: 1em;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 767px) {
  header .container .navbar .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    top: 69px;
    text-align: center;
    padding: 25px 0;
  }
}
header .container .navbar #checkbox_toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  header .container .navbar #checkbox_toggle:checked ~ .menu {
    display: block;
  }
}
header .container .navbar .hamburger {
  display: none;
  font-size: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: black;
}
@media screen and (max-width: 767px) {
  header .container .navbar .hamburger {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */